online-video {
    .video_content{
        width:100%;
        height:15vh;
        border: 1px solid #ddd;
    }
    .reserve_info{
        width:100%;
        height:20px;
        padding:0 10px;
        background-color:#ddd;
        
    }
    .author_info{
        padding: 0;
        width:100%;
        height:4vw;
        display: table;
        .div_avatar{
            display:table-cell;
            width:10vw;
            .avatar{
                width:7vw;
                height:7vw;
                border-radius:50%;
                background-color: #0ff;
                text-align: center;
            }
        }
        .div_title{
            width:calc(100% - 10vw);
            display: table-cell;
            vertical-align: top;
            text-align: center;
        }
    }
}
