page-report-user-detail-remote {
    .buttons .col{
        text-align:center;
        padding: 6px 0;
    }
    ion-row .button{
        border-radius:50%;
        font-size:14px;
        width:25vw;
        height:25vw;
    }
}
