page-patient-list {
    .buttons .col{
        text-align:center;
        padding: 6px 0;
    }
    .img-btns .segment-button{
        height: auto;
        padding: 10px;
        div{
            margin-top: -10px;
        }
    }
}
