page-report-list {
    .buttons .col{
        text-align:center;
        padding: 6px 0;
    }
    .img-btns .segment-button{
        height: auto;
        div{
            margin-top: -2em;
        }
    }
}
