page-findpassword {
    ion-item ion-icon{
        font-size:28px;
    }
    ion-item ion-input{
        font-size:12px;
    }

    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none; 
    }
    .item-ios.item-block .item-inner,
    .item-ios.item-input.input-has-focus .item-inner,
    .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-ios .item-input.input-has-focus:last-child,
    .list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-ios .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }
    .list-ios .item-input.input-has-focus:last-child .item-inner,
    .list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-ios .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none; 
    }
    
    .list-md > .item-block:first-child {
        border-top-color: $primary-color;
    }
    .list-md > .item-block:last-child {
        border-bottom-color: $primary-color;
    }
    
    .list-ios > .item-block:first-child {
        border-top-color: $primary-color;
    }
    .list-ios > .item-block:last-child {
        border-bottom-color: $primary-color;
    }
}
